AppData/
Contacts/
Downloads/
Favorites/
Links/
Music/
NTUSER.DAT*
OneDrive/
PCManger/
Saved Games/
Searches/
Videos/
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
.bash_history
.gitconfig
.idlerc/
.lesshst
